#msg9898 {
	position: absolute;
	top: 124px;
	right: 20px;
	padding: 10px 25px 10px 15px;
	font-size: 1rem;
	color: black;
	background-color: white;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	border-radius: 3px;
	z-index: 9999;
}

#msg9898__close {
	position: absolute;
	top: 0px;
	right: 1px;
	font-size: 20px;
	line-height: 1;
	color: red;
	cursor: pointer;
}